* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}


h1 {
  font-size: calc(2rem + 1vw);
  color: #333;

}

h2 {
font-size: calc(3.5rem + 1vw);
color: #333;

}

h3 {
font-size: calc(3.5rem + 1vw);
color: #333;

}

h4 {
font-size: calc(3.5rem + 1vw);
color: #333;

}

p {
  font-size: calc(1.5rem + 1vw);
  color: #333;
}

.home-hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  animation: opening 1s ease-in-out;
  overflow: hidden;
}

.about-app {
  flex: 2 1 40rem;
  text-align: left;
}

.about-app h1 {
  padding-left: 5rem;
}

.about-app h2 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about-app p {
  padding-top: 3rem;
  padding-left: 5rem;
}

.about-app button {
  margin-top: 7.5rem;
  margin-left: 5rem;
  margin-right: 3rem;
  border: 3px solid black;
}

.about-app .about-user-out button {
  border-radius: 1.5rem;
  background-color: rgb(233, 187, 59);
  color: black;
  transition: transform 750ms;
  will-change: transform;
}

.about-app .about-user-out button:hover,
.about-app .about-user-out button:focus{
  transform: translateZ(10px) translateY(-10px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@keyframes opening {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}