.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1 {
    font-size: 4.8rem;
    color: #333;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}


.app-table {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.app-table .application_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 4rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
  }
  
  .app-table .application_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .app-table .application_table th, 
  .app-table .application_table td {
    padding: 12px 15px;
  }
  
  .app-table .application_table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .app-table .application_table tbody tr:nth-of-type(even) {
    background-color: #c4c4c4;
  }
  
  .app-table .application_table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  
  .app-table .application_table tbody tr:last-of-type {
    border-bottom: 4px solid #009879;
  }
  
  .app-table .application_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .app-table .application_table tbody tr.active-row button{
    background-color: #070707;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.5em;
  }
  .app-table .application_table tbody tr.active-row button:hover{
    background-color: #333;
  }