.form-container p {
    color: green;
    text-align: center;
}

.loginform-wrapper{
    background: rgba(19, 28, 39, 0.8);
    width: 100%;
    color: white;
    border-radius: 20px;
    font-size: 2rem;
}

.loginform-wrapper .errormsg p {
    color: red;
}

.form-head{
    text-align: center;
    padding: 4rem;
}

.form-head h2 {
    color: white;
}

.loginform-wrapper
.password-form,
.email-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

.loginform-wrapper label {
    flex: 1;
    margin-right: 2rem;
    text-align: right;
}

.loginform-wrapper button {
    width: 100%;
    padding: 2.5rem;
    margin-top: 0.1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.loginform-wrapper input{
    flex: 2;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
}